<body style="text-align: center; align-content: flex-start">
<div align="right">
    <button routerLink="/orders" class="border_button" id="home_button">Back</button>
</div>
<div class="container">
<table><tr>
  <td style="font-size: 1.5em; vertical-align: top">
    <b>Order details</b><br/>
    Patryk Sukiennik<br/>
    Łódź Bałuty 12-345<br/>
    00000@gmail.com<br/>
    02.02.2020<br/>
    <br/>
    <b>Car specification</b><br/>
    Model S<br/>
    Blue<br/>
    <br/>
    <b>Car additions</b><br/>
    Version: <i>Stock</i><br/>
    Windows: <i>Stock</i><br/>
    Wheels: <i>Silver wheels</i><br/>
    Seats configuration: <i>Six seat interior</i><br/>
    Interior: <i>Cream Oak Wood</i><br/>
  </td>
  <td>
    <p>Total cost: $80000</p>
    <button routerLink="/print" class="border_button_big">Print this order</button>
    <button routerLink="/orders" class="border_button_big">Delete this order</button>
    <button class="border_button_big">Contact client</button>

  </td>


</tr></table>
</div>
</body>
