<body style="text-align: center; align-content: flex-start">
<div align="right">
    <button routerLink="/orders" class="border_button" id="home_button">Back</button>
</div>
<div class="container">
<table><tr>
  <td style="font-size: 1.5em; vertical-align: top">
    <b>Order details</b><br/>
    {{ order.customer_name }}<br/>
    phone: {{ order.customer_phone }}<br/>
    date: {{ order.date | date: "dd.MM.y" }}<br/>
    <br/>
    <b>Car specification</b><br/>
    {{ order.car_id.name }}<br/>
    {{ order.color_id.name }}<br/>
    <br/>
    <b>Car additions</b><br/>
    Version: <i>{{ version.name }}</i><br/>
    Windows: <i>{{ windows.name }}</i><br/>
    Wheels: <i>{{ wheels.name }}</i><br/>
    Seats configuration: <i>{{ seats.name }}</i><br/>
    Interior: <i>{{ interior.name }}</i><br/>
  </td>
  <td>
    <p>Total cost: ${{ order.cost }}</p>
    <button (click)="toPrint(order._id)" routerLink="/print" class="border_button_big">Print this order</button>
    <button (click)="delete(order._id)" routerLink="/orders" class="border_button_big">Delete this order</button>

  </td>


</tr></table>
</div>
</body>
