body {
  background: url(../../assets/bg_landing.jpg) no-repeat center center fixed;
}

.container {
  margin-left: auto;
  min-width: 70%;
  min-height: 95vh;
  overflow-y: auto;
  text-align: center;
  display: inline-block;
  background: #FFFFFF77;
}

table {
  margin-left: 2%;
  width: 96%;
  border-spacing: 0;
}

td, th {
  padding: 20px;
  width: 20%;
  border: 0;
  text-align: center;
}

.td-bordered {
  border: 0;
  border-left: #00000055 solid 1px;
  border-right: #00000055 solid 1px;
}

a {
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

th {
  border-bottom: black solid 1px;
}

.border_button {
  background: transparent;
  font-size: 3em;
  border: #CCCCCC solid 3px;
  color: #CCCCCC;
  padding: .3em;

}

.border_button:hover {
  background: #CCCCCC66;
}

#welcome_order_button {
  margin-top: 43vh;
  padding: .5em 2em .5em 2em;
}

#home_button {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  margin-top: 15px;
  margin-left: 15px;
}
