<body style="text-align: center">
<div align="right" width="100%">
  <button routerLink="/home" class="border_button" id="home_button">Home</button>
</div>
<div class="container">
  <table id="orders_table">
    <tr>
      <th scope="col">date</th>
      <th scope="col">customer name</th>
      <th scope="col">car</th>
      <th scope="col">value</th>
      <th scope="col">details</th>
    </tr>

    <tr>
      <td>12.02.2020</td>
      <td>Patryk Sukiennik</td>
      <td>Model S</td>
      <td>$80000</td>
      <td><a routerLink="/order-info">show</a></td>
    </tr>


    <!--    <app-comp-order></app-comp-order>-->

  </table>
</div>
</body>
