<body>
<div id="content">
  <b>Date: 02.02.2020</b><br/><br/>
Customer:
<table>
<tr><td>Name:</td><td>Patryk Sukiennik</td></tr>
<tr><td>Address:</td><td>Łódź Bałuty 12-345</td></tr>
<tr><td>Email:</td><td>00000@gmail.com</td></tr>
</table>

<br>
<br>

Order:
<table>
  <tr><th>Name</th><th>Value</th><th>Cost</th></tr>
  <tr><td>Model:</td><td>Model S</td><td>$80000</td></tr>
  <tr><td>Color:</td><td>Blue</td><td>$0</td></tr>
  <tr><td>Version:</td><td>Stock</td><td>$0</td></tr>
  <tr><td>Wheels:</td><td>Silver wheels</td><td>$0</td></tr>
  <tr><td>Seats configuration:</td><td>Six seat interior</td><td>$0</td></tr>
  <tr><td>Interior:</td><td>Cream Oak Wood</td><td>$0</td></tr>
  <tr><td></td><td>Autopilot</td><td>$0</td></tr>
  <tr><td></td><td style="text-align: right; margin-right: 10px"><b>Total:</b></td><td><b>$80000</b></td></tr>
</table>
</div>
</body>
