<body>
<div id="content">
  <b>Date: {{ order.date | date: "dd.MM.y" }}</b><br/><br/>
Customer:
<table>
<tr><td>Name:</td><td>{{ order.customer_name }}</td></tr>
<tr><td>Phone:</td><td>{{ order.customer_phone }}</td></tr>
</table>

<br>
<br>

Order:
<table>
  <tr><th>Name</th><th>Value</th><th>Cost</th></tr>
  <tr><td>Model:</td><td>{{ order.car_id.name }}</td><td>${{ order.car_id.cost }}</td></tr>
  <tr><td>Color:</td><td>{{ order.color_id.name }}</td><td></td></tr>
  <tr><td>Version:</td><td>{{ version.name }}</td><td>${{ version.cost }}</td></tr>
  <tr><td>Wheels:</td><td>{{ wheels.name }}</td><td>${{ wheels.cost }}</td></tr>
  <tr><td>Seats configuration:</td><td>{{ seats.name }}</td><td>${{ seats.cost }}</td></tr>
  <tr><td>Interior:</td><td>{{ interior.name }}</td><td>${{ interior.cost }}</td></tr>
  <tr><td></td><td>{{ others.name }}</td><td>${{ others.cost }}</td></tr>
  <tr><td></td><td style="text-align: right; margin-right: 10px"><b>Total:</b></td><td><b>${{ order.cost }}</b></td></tr>
</table>
</div>
</body>
