<body>
<div align="right" width="100%">
  <button routerLink="/orders" class="border_button" id="manage_orders_button">Manage orders</button>
</div>
<div class="container">
  <br>
  <img src="assets/logo_name.svg" id="landing_logo"/>
  <br/>
  <div id="thanks-div">
    <span style="font-family: Tesla, serif">Thank you!</span>
    <br/>
    <br/>
    By clicking "Submit" you agree to the <br/>
    regulations of the <a routerLink="/pp" routerLinkActive="active">privacy policy</a> <br/> and agree to adhere to
    these principles.
  </div>
  <br/>
  <table>
    <tr>
      <td>
        <button routerLink="/cars" class="border_button" id="cancel-button">Cancel</button>
      </td>
      <td>
        <button routerLink="/home" class="border_button" id="confirm-button">Submit</button>
      </td>
    </tr>
  </table>


</div>
</body>

