@import url('http://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: Tesla;
  src: url(assets/TESLA.ttf) format("truetype");
}

body {
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/

  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;

  overflow-x: hidden;

  background-attachment: scroll;

  font-family: 'Lato', serif;
}
