body {
  background: url(../../assets/bg_landing.jpg) no-repeat center center fixed;
}
#landing_logo {
  width: 15vw;
  height: 15vw;
}

.container {
  margin: auto;
  width: 100%;
  overflow-y: auto;
  text-align: center;
  display: inline-block;
}

.border_button {
  background: transparent;
  font-size: 3em;
  border: #CCCCCC solid 3px;
  color: #CCCCCC;
  padding: .3em;

}

#welcome_order_button {
  margin-top: 43vh;
  padding: .5em 2em .5em 2em;
}

#manage_orders_button {
  float: right;
  font-size: 1.5em;
  margin-top: 15px;
  margin-right: 15px;
}
