<body>
<div id="bg" class="bg-s">
<div class="container">
  <div id="top-panel">
    <table>
      <tr>
        <td width="15%"><img routerLink="/home" id="logo" src="assets/logo_name.svg"/></td>
        <td width="70%" style="border-bottom: #00000088 solid 1px">MODEL S</td>
        <td width="15%">&nbsp;</td>
      </tr>
    </table>
  </div>

  <div class="inner-div">Color select: </div>
  <div class="inner-div">Additions: </div>
  <div class="inner-div">Cost: </div>
  <div class="inner-div">
    Your name: <br/>
    Phone number: <br/>
    E-mail address: <br/>
  </div>

</div>

<div style="text-align: center">
  <button routerLink="/thanks" id="order-button">Order</button>
</div>
</div>
</body>

