<body>
<div id="bg" class="bg-s">
<div class="container">
  <div id="top-panel">
    <table class="table-top">
      <tr>
        <td width="15%"><img routerLink="/home" id="logo" src="assets/logo_name.svg"/></td>
        <td width="70%" style="border-bottom: #00000088 solid 1px">MODEL S</td>
        <td width="15%">&nbsp;</td>
      </tr>
    </table>
  </div>

  <div class="inner-div"><span class="group-title">Color select:</span>

  <table class="table-colors"><tr>
    <td style="width: auto"></td>
    <td><div class="color-bg-bg-selected" id="color1bg"><div (click)="color1()" id="color1" class="color-bg" style="background-color: #000000"></div></div></td>
    <td><div class="color-bg-bg" id="color2bg"><div (click)="color2()" id="color2" class="color-bg" style="background-color: #00008B"></div></div></td>
    <td><div class="color-bg-bg" id="color3bg"><div (click)="color3()" id="color3" class="color-bg" style="background-color: #68707C"></div></div></td>
    <td><div class="color-bg-bg" id="color4bg"><div (click)="color4()" id="color4" class="color-bg" style="background-color: #a62c2b"></div></div></td>
    <td><div class="color-bg-bg" id="color5bg"><div (click)="color5()" id="color5" class="color-bg" style="background-color: #FF4500"></div></div></td>
    <td style="width: auto"></td>
  </tr></table>

  </div>
  <div class="inner-div-addons" style="padding-top:30px; padding-bottom:30px; line-height: 1em">

    <span class="group-title">Additions:</span><br/><br/>

      <form>
        <div class="inner-div-group">
          <span class="group-title" style="align-self: center">Version:</span>
          <p><input class="radio-input" [(ngModel)]="version" type="radio" name="version" value="5ed224772159342b2cf9c7a2"/> Performance</p>
          <p><input class="radio-input" [(ngModel)]="version" type="radio" name="version" value="5ed224772159342b2cf9c7a0"/> Long Range</p>
          <p><input class="radio-input" [(ngModel)]="version" type="radio" name="version" value="0" checked="checked"/> Stock</p>
        </div>
        <div class="inner-div-group">
          <span class="group-title" style="align-self: center">Windows:</span>
          <p><input class="radio-input" [(ngModel)]="window" type="radio" name="windows" value="5ed224772159342b2cf9c79d"/> Tinted glass</p>
          <p><input class="radio-input" [(ngModel)]="window" type="radio" name="windows" value="0" checked="checked"/> Stock</p>
        </div>
        <div class="inner-div-group">
          <span class="group-title" style="align-self: center">Wheels:</span>
          <p><input class="radio-input" [(ngModel)]="wheel" type="radio" name="wheels" value="5ed224772159342b2cf9c797"/> Silver wheels</p>
          <p><input class="radio-input" [(ngModel)]="wheel" type="radio" name="wheels" value="5ed224772159342b2cf9c79a"/> Sport wheels</p>
          <p><input class="radio-input" [(ngModel)]="wheel" type="radio" name="wheels" value="5ed224772159342b2cf9c7a3"/> Sonic Carbon Slipstream Wheels</p>
          <p><input class="radio-input" [(ngModel)]="wheel" type="radio" name="wheels" value="5ed224772159342b2cf9c7a4"/> Sonic Carbon Turbine Wheels</p>
          <p><input class="radio-input" [(ngModel)]="wheel" type="radio" name="wheels" value="5ed224772159342b2cf9c7a5"/> Two Tone Sliperstream</p>
          <p><input class="radio-input" [(ngModel)]="wheel" type="radio" name="wheels" value="5ed224772159342b2cf9c7a6"/> Onyx Black Wheels</p>
          <p><input class="radio-input" [(ngModel)]="wheel" type="radio" name="wheels" value="0" checked="checked"/> Stock</p>
        </div>
        <div class="inner-div-group">
          <span class="group-title" style="align-self: center">Seats configuration:</span>
          <p><input class="radio-input" [(ngModel)]="seat" type="radio" name="seats-conf" value="5ed224782159342b2cf9c7a7"/> Six seat interior</p>
          <p><input class="radio-input" [(ngModel)]="seat" type="radio" name="seats-conf" value="5ed224782159342b2cf9c7a8"/> Seven seat interior</p>
          <p><input class="radio-input" [(ngModel)]="seat" type="radio" name="seats-conf" value="0" checked="checked"/> Stock</p>
        </div>
        <div class="inner-div-group">
          <span class="group-title" style="align-self: center">Interior:</span>
          <p><input class="radio-input" [(ngModel)]="interior" type="radio" name="interior" value="5ed224782159342b2cf9c7a9"/> Black and White Carbon Fiber</p>
          <p><input class="radio-input" [(ngModel)]="interior" type="radio" name="interior" value="5ed224782159342b2cf9c7aa"/> Cream Oak Wood</p>
          <p><input class="radio-input" [(ngModel)]="interior" type="radio" name="interior" value="0" checked="checked"/> Stock</p>
        </div>

        <p><input class="check-input" type="checkbox" [(ngModel)]="ap" value="5ed224782159342b2cf9c7ab"/> Autopilot</p>


      </form>


  </div>
  <div class="inner-div"><b>Cost: 80000$</b></div>
  <div class="inner-div">
    <table class="table-info">
      <tr><td style="text-align: right">Your name: </td><td style="width: 50%"><input [ngModelOptions]="{standalone: true}" class="text-input" [(ngModel)]="order.customer_name" type="text"/><td></tr>
      <tr><td style="text-align: right">Phone number: </td><td style="width: 50%"><input [ngModelOptions]="{standalone: true}" class="text-input" [(ngModel)]="order.customer_phone" type="text"/></td></tr>
    </table>
  </div>

</div>

<div style="text-align: center">
  <button (click)="submit()" routerLink="/thanks" id="order-button">Order</button>
</div>
</div>
</body>

