body {
  text-align: center;
}

#bg {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}

.bg-s {
  background: url("../../assets/bg_s.jpg") no-repeat center center fixed;
}
.bg-3 {
  background: url("../../assets/bg_3.jpg") no-repeat center center fixed;
}
.bg-x {
  background: url("../../assets/bg_x.jpg") no-repeat center center fixed;
}
.bg-y {
  background: url("../../assets/bg_y.jpg") no-repeat center center fixed;
}

.group-title {
  font-size: 1em;
  font-family: TESLA;
}

.container {
  width: 70%;
  overflow-y: auto;
  text-align: center;
  display: inline-block;
  background: #00000033;
}

.table-top {
  margin-top: 100px;
  height: 100%;
  width: 100%;
  font-family: Tesla, serif;
}

.table-colors {
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.table-info {
  margin-top: 20px;
  height: 100%;
  width: 90%;
  font-size: 0.1em;
}

td, th {
  vert-align: bottom;
  text-align: center;
  font-size: 8em;
}

#logo {
  height: 150px;
  width: 70%;
  alignment: center;
}

.inner-div {
  background: #00000066;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  font-size: 2.5em;
  line-height: 2em;
  color: #CCCCCC;
}

.inner-div-addons {
  background: #00000066;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  font-size: 2.5em;
  line-height: 2em;
  color: #CCCCCC;
}

.inner-div-group {
  background: #00000066;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  max-width: 70%;
  width: 70%;
  margin-left: 15%;
  font-size: 0.8em;
  line-height: 1em;
  color: #CCCCCC;
  padding-bottom: 30px;
  padding-top: 30px;
}

.inner-div-group span {
  padding-left: 50px;
}

.inner-div-info {
  background: #00000066;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  max-width: 70%;
  width: 70%;
  margin-left: 15%;
  font-size: 0.8em;
  line-height: 1em;
  color: #CCCCCC;
  padding-bottom: 30px;
  padding-top: 30px;
}

#top-panel {
  width: 100%;
  height: 150px;
  align-items: center;
  display: inline-flex;
}

.td-bordered {
  border: 0;
  border-left: #00000055 solid 1px;
  border-right: #00000055 solid 1px;
}

th {
  border-bottom: black solid 1px;
}

.border_button {
  background: transparent;
  font-size: 3em;
  border: #CCCCCC solid 3px;
  color: #CCCCCC;
  padding: .3em;

}

#welcome_order_button {
  margin-top: 43vh;
  padding: .5em 2em .5em 2em;
}

#home_button {
  float: left;
  font-size: 1.5em;
  margin-top: 15px;
  margin-left: 15px;
}

#order-button {
  background: transparent;
  font-size: 3em;
  border: #CCCCCC solid 3px;
  color: #CCCCCC;
  margin-top: 30px;
  margin-bottom: 45px;
  padding: .5em 2em .5em 2em;
}

.text-input {
  margin-left: 20px;
  vertical-align: middle;
  text-align: center;
  height: 30px;
  width: 100%;
  border: 3px solid #C4C4C4;
  border-radius: 15px;
  opacity: 1;
  background: #00000000;
  color: #CCCCCC;
}

.check-input {
  margin-left: 20px;
  vertical-align: middle;
  text-align: center;
  height: 30px;
  border: 3px solid #C4C4C4;
  border-radius: 15px;
  opacity: 1;
  background: #00000000;
  color: #CCCCCC;
}

table {
  padding-top: 0;
  margin-top: 0;
  height: 100px;
  margin-left: auto;
  text-align: center;
  padding-bottom: 30px;
  border-spacing: 10px;
}

td {
  text-align: center;
  width: 100px;
  height: 100px;
}

.color-bg {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  border-radius: 25px;
}

.color-bg-bg {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  border-radius: 25px;
}

.color-bg-bg-selected {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  background-color: #CCCCCC;
  padding: 5px;
  border-radius: 25px;
}

.color-block {
  width: 90%;
  height: 90%;
}

p {
  margin-left: 50px;
  margin-bottom: 30px;
}
